*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.col{
    margin: 1rem;
    padding: 0rem 1rem;
    border-radius: 1rem;
}

.background-color-purple{
    background-color: rgba(151,146,228,255);
}

.padding-top-20px{
    padding-top: 20px;
}

.padding-bottom-40px{
    padding-bottom: 40px;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

.text-center{
    text-align: center;
}

/* header */

header{
    background-color: rgba(0,132,253,255);
}

.row-header{
    justify-content: space-between;
}

.col-ham{
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    color: white;
    font-size: 30px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
} 

/* section 1 */

.row-section1{
    flex-direction: column;
    color: rgba(94,115,133,255);
}

.col-70{
    width: 100%;
    background-color: rgba(181,221,255,255);
    display: flex;
    flex-direction: column;
}

.blue{
    color: rgba(0,132,253,255);
}

.button-apple{
    background-color: rgba(0,132,253,255);
    border-radius: 1rem;
    border-style: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.phone{
    width: 50%;
}

.col-30{
    width: 100%;
    background-color: rgba(181,221,255,255);
}

.fa-file-code{
    font-size: 50px;
}

.col-33{
    width: 100%;
    background-color: rgba(181,221,255,255);
}

.fa-solid{
    font-size: 50px;
}

/* section 2 */

.row-section2{
    flex-direction: column;
    color: white;
}

.paln1{
    width: 100%;
}

.col-50{
    width: 100%;
}

.background-white{
    margin: 1rem;
    padding: 0rem 1rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
}

.corsivo{
    font-style: oblique;
}

.fa-arrow-down{
    font-size: 15px;
}

.arrow{
    background-color: rgba(0,132,253,255);
    border-radius: 50%;
    border-style: none;
    color: black;
    padding: 20px;
    cursor: pointer;
}

/* section 3 */

.row-section3{
    flex-direction: column;
}

.col-testimonials{
    width: 100%;
}

.color-purple{
    color: rgba(151,146,228,255);
}

.col-card{
    width: 100%;
    background-color: rgba(151,146,228,255);
    display: flex;
    flex-direction: column;
    color: white; 
}

.img-card{
    width: 50%;
    border-radius: 50%;
}

.fa-quote-left{
    font-size: 20px;
}

.fa-quote-right{
    font-size: 20px;
}

/* section 4 */

.white{
    color: white;
}

.row-section4{
    flex-direction: column;
}

.col-benefits{
    width: 100%;
    background-color: white;
}

.more{
    background-color: rgba(151,146,228,255);
    border-radius: 1rem;
    border-style: none;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

/* section 5 */

.row-section5{
    flex-direction: column;
}

.col-about-us{
    width: 100%;
}

.col-linkedin{
    width: 100%;
}

.img-about{
    width: 50%;
    border-radius: 50%;
}

.absolute{
    left: 200px;
    top: 10px;
    font-size: 10px;
    color: rgba(151,146,228,255);
}

.linkedin{
    background-color: rgba(151,146,228,255);
    border-radius: 1rem;
    border-style: none;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

/* section 6 */

.row-section6{
    flex-direction: column;
}

.col-free{
    width: 100%;
    color: white;
}

.Free{
    color: orangered;
    font-size: 80px;
}

.grey{
    color: rgba(94,115,133,255);
}

.fa-circle{
    font-size: 5px;
}

.get-started{
    background-color: white;
    border-radius: 2rem;
    font-size: 20px;
    border-style: none;
    color: rgba(151,146,228,255);
    padding: 20px 100px;
    cursor: pointer;
}

/* footer */

footer{
    background-color: rgba(51,51,51,255);
}

.row-section-footer{
    flex-direction: column;
}

.col-footer{
    width: 100%;
    height: 50px;
    background-color: white;
}

/************************************************
    RESPONSIVE
 ************************************************/

/* tablet */

@media screen and (min-width:768px) {

    .row-section1, .row-section4, .row-section5{
        flex-direction: row;
    }

    .col-70, .col-about-us{
        width: 70%;
    }

    .col-30, .col-linkedin{
        width: 30%;
    }

    .row-section4{
        flex-wrap: wrap;
    }

    .col-benefits{
        width: calc(50% - 2rem);
    }

}

/* desktop */

@media screen and (min-width:992px) {

    .row-section1, .row-section2, .row-section4, .row-section5, .row-section6 {
        flex-direction: row;
    }

    .col-70, .col-about-us{
        width: 70%;
    }

    .col-30, .col-linkedin{
        width: 30%;
    }

    .row-header, .row-section1, .row-section2, .row-section3, .row-section4, .row-section5 {
        width: 75%;
        margin: 0 auto;
    }

    .row-section6, .row-section-footer{
        width: 50%;
        margin: 0 auto;
    }

    .col-benefits{
        width: 25%;
    }

}